:host{
    width: 100%;

    h1{
        font-size: 18px;
        margin: 18px 0;
        color: var(--branco);
        text-align: center;
    }

    .has-items{
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: 2px solid var(--preto-010);
    }

    .remove-margin-bottom{
        margin-bottom: 0%;
    }
}