:root{
    --primaria: #e3d77f;
    --primaria-010: #d8c431;

    --branco: #fff;

    --cinza: #9b9ba0;

    --preto: #10101a;
    --preto-010: #2a2a30;

    --vermelho: #c90025;
    --vermelho: #a3001e;
}