 *{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
}

body{
    margin: 0;
    background: var(--preto);
    font-family: Roboto, "Helvetica neue";
}
h1{
    font-size: 22px;
}
h2, h3{
    font-size: 14px;
}

h1, h2, h3, a{
    color: var(--branco);
}

p{
    color: var(--cinza);
    font-size: 16px;
    margin: 10px 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}